                </main><!-- .site-main -->
            </div><!-- .content-area -->
        </div><!-- .site-content -->

        <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="site-info">
                <p><a href="/"><img class="logo" src="/img/branding/tecdrop-footer-logo.png" alt="Tecdrop Logo"></a></p>
                <p class="copyright">
                    © 2013-2016 Tecdrop. All Rights Reserved.
                    <span class="links"><a href="/contact/">Contact</a> | <a href="/about/privacy/">Privacy</a></span>
                </p>
            </div><!-- .site-info -->
        </footer><!-- .site-footer -->

    </div><!-- .site -->

    <!--  jQuery from Google CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Twenty Fifteen JavaScript functions -->
    <script type='text/javascript'>
    /* <![CDATA[ */
    var screenReaderText = {"expand":"<span class=\"screen-reader-text\">expand child menu<\/span>","collapse":"<span class=\"screen-reader-text\">collapse child menu<\/span>"};
    /* ]]> */
    </script>
    <script type='text/javascript' src='/js/functions.js'></script>
</body>
</html>
