<article class="status-publish hentry slug-promo">
    <div class="entry-content">
        <a class="backlink" href="http://www.east-tec.com/eraser/download/" target="_blank"></a>
        <div class="promo-bar">
            <h3 class="lead">Protect your privacy &amp; support the Tecdrop apps</h3>
            <p class="action"><a class="button" href="http://www.east-tec.com/eraser/download/" target="_blank">Free Download</a></p>
        </div>
    </div><!-- .entry-content -->
</article><!-- .slug-promo -->
