{{ define "main" }}
    <article class="page type-page status-publish hentry slug-privacy">

        <header class="entry-header">
            <h1 class="entry-title">I See 404</h1>
        </header><!-- .entry-header -->

    	<div class="entry-content">
            <h3>This page is dead or was never born.</h3>
            <p>Would you like to <b><a href="/iseepass/">see passwords</a></b> instead?</p>
            <p>How about a <b><a href="/rgbcolorwallpaper/">color wallpaper</a></b> or a <b><a href="/pitchblackwallpaper/">pitch black wallpaper</a></b>?</p>
    	</div><!-- .entry-content -->

    </article><!-- .page -->
{{ end }}
